@font-face {
    font-family: "Selfish";
    src: url("/fonts/selfish/regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Selfish";
    src: url("/fonts/selfish/bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Selfish";
    src: url("/fonts/selfish/light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}
